<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jnmd.liuwan.mapper.UserMapper">
	<select id="getCountry" resultType="User">
		select uid,uname,password
		from user
		where uname=#{uname} and password=#{password}
	</select>
	<insert id="saveUser">
		<selectKey keyColumn="uid" keyProperty="uid" resultType="int" order="AFTER">
			select @@identity as uid
		</selectKey>
		insert into user(uname,password,mphone,countrycode,birthday,realname,sex,tid,papersid,paperscode)
		values(#{uname},#{password},#{mphone},#{countrycode},#{birthday},#{realname},#{sex},#{tid},#{papersid},#{paperscode})
	</insert>
</mapper>
	